{% load i18n %}

<div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-start justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link px-2 text-secondary">{% trans "Task manager" %}</a></li>
        <li class="nav-item"><a href="{% url 'home_users' %}" class="nav-link px-2 text-white">{% trans "Users" %}</a></li>
      {% if not user.is_authenticated%}
        <li class="nav-item"><a href="{% url 'signin' %}" class="nav-link px-2 text-white">{% trans "Sign-In" %}</a></li>
        <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link px-2 text-white">{% trans "Sign-Up" %}</a></li>
      {% else %}
        <li class="nav-item"><a href="{% url 'statuses' %}" class="nav-link px-2 text-white">{% trans "Statuses" %}</a></li>
        <li class="nav-item"><a href="{% url 'labels' %}" class="nav-link px-2 text-white">{% trans "Labels" %}</a></li>
        <li class="nav-item"><a href="{% url 'tasks' %}" class="nav-link px-2 text-white">{% trans "Tasks" %}</a></li>
        <li class="nav-item"><a href="{% url 'signout' %}" class="nav-link px-2 text-white">{% trans "Sign-Out" %}</a></li>
      </ul>
      {% endif %}
    </div>
  </div>