{% extends "task_manager_app/base.html" %}

{% block title %}Форма задачи{% endblock %}

{% block content %}
<h1>{% if form.instance.pk %}Редактировать{% else %}Создать{% endif %} задачу</h1>

{% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">{% if form.instance.pk %}Обновить{% else %}Создать{% endif %}</button>
</form>

<a href="{% url 'task-list' %}">Вернуться к списку задач</a>
{% endblock %}
